<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>RailsTemplate</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/foundation.css" />

  <%= stylesheet_link_tag  "application" %>
  <%= csrf_meta_tags %>

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>
  <div id="flash-messages">
    <% if notice %>
      <p class="notice alert-box"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-box"><%= alert %></p>
    <% end %>
  </div>

  <%= render 'layouts/top_bar' %>

  <%= render 'layouts/header' %>

  <section id="main" role="main">
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
  </section>

  <footer id="footer"><%= yield :footer %></footer>
  <%= javascript_include_tag "application" %>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
